@import "~bootstrap/scss/bootstrap";

$bd-yellow: #e8ae41;

:root {
    --bd-yellow-bg: #e8ae41;
    --bd-yellow-rgb: 232, 174, 65;
}

.btn-bd-primary {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-yellow-bg);
    --bs-btn-border-color: var(--bd-yellow-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #{shade-color($bd-yellow, 10%)};
    --bs-btn-hover-border-color: #{shade-color($bd-yellow, 10%)};
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #{shade-color($bd-yellow, 20%)};
    --bs-btn-active-border-color: #{shade-color($bd-yellow, 20%)};
}
